<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>管理员面板</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <link rel="stylesheet" href="/base.css">
</head>

<body>
    <h1>管理员面板</h1>

    <div class="outbox">
        <div class="lspan" id="killer">
            <h2>杀死所有测试进程</h2>
            <span>请输入管理员密码</span><br>
            <input v-model="key" placeholder="key"><br>
            <br>
            <button v-on:click="kill()" class="small"> 确认 </button>
            <span v-if="!isNull(notice)"><b>通知 </b><span class="small red">{{notice}}</span></span>
        </div>
        <div class="lspan" id="run_listener">
            <h2>服务器负载&nbsp;&nbsp;</h2>
            <p>当前并发量：{{result}} </p>
            <span><button class="small" v-on:click="getrunningnumber()"> 刷新负载 </button></span>
        </div>
    </div>
    <script>
        function IsNull(v) {
            return (v == "" || v == null || v == undefined || v.trim() == "")
        }
        var noticeChecking;
        new Vue({
            el: '#killer',
            data: {
                key: "",
                notice: "",
            },
            methods: {
                isNull: function (v) {
                    return IsNull(v)
                },
                kill: function () {
                    this.notice = ""
                    var newRequestParams = {
                        key: this.key,
                    }
                    axios
                        .post('/ajax/killall', newRequestParams)
                        .then(response => {
                            console.log('/ajax/killall', response.data)
                            this.notice = response.data.info
                        })
                        .catch(error => {
                            if (error.response == undefined) return
                            this.notice = error.response.data.error != null
                                ? error.response.data.error
                                : "芜湖，前端写错了或者服务器挂了."
                            console.log('/ajax/killall', error.response.data)
                        })
                },
            },
        })
        new Vue({
            el: '#run_listener',
            data: {
                result: "?",
            },
            methods: {
                isNull: function (v) {
                    return IsNull(v)
                },
                getrunningnumber: function () {
                    this.result = "查询中..."
                    axios
                        .post('/ajax/runningnumber')
                        .then(response => {
                            console.log('/ajax/runningnumber', response.data)
                            this.result = response.data.number
                        })
                        .catch(error => {
                            if (error.response == undefined) return
                            this.result = (error.response.data.error != null)
                                ? error.response.data.error
                                : "芜湖，前端写错了或者服务器挂了."
                            console.log('/ajax/runningnumber', error.response.data)
                        })
                },
            },
            mounted: function () {
                this.getrunningnumber()
            },
        })
    </script>

</body>

</html>